* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height:100vh;
}

.container{
  height:100vh;
  display: flex;
}

.left_side, .right_side{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_side{
  background-color:blueviolet;
}

.right_side{
  background-color: aliceblue;
}

.left_side img{
  width:50%;
  height:60%;
  object-fit: cover;
}

.right_side h2{
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.right_side p{
  font-size: 1.2rem;
  margin-bottom:20px;
  text-align: center;
}
.login_form{
  width:50%;
  flex-direction: column;
  gap:15px;
}

.login_form input{
  width:100%;
  padding:8px;
}

.login_form label{
  display: block;
  font-size:1rem;
}


.btn{
  margin-top: 20px;
  width:100%;
  padding:10px;
  border-radius: 5px;
  border-style: none;
  background-color:blue;
  color:white;
  font-size:1rem;
}

.right_side form p{
  text-align: right;
  font-size: 0.85rem;
}